@font-face {
  font-family: "Monserrat";
  src: url("../../assets/font/Montserrat-Thin.eot");
  src: url("../../assets/font/Montserrat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/font/Montserrat-Thin.svg#Lack-Regular") format("svg"),
    url("../../assets/font/Montserrat-Thin.ttf") format("truetype"),
    url("../../assets/font/Montserrat-Thin.woff") format("woff"),
    url("../../assets/font/Montserrat-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TorweltenMono";
  src: url("../../assets/font/TorweltenMono.eot");
  src: url("../../assets/font/TorweltenMono.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/font/TorweltenMono.svg#Lack-Regular") format("svg"),
    url("../../assets/font/TorweltenMono.ttf") format("truetype"),
    url("../../assets/font/TorweltenMono.woff") format("woff"),
    url("../../assets/font/TorweltenMono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Monserrat";
  font-size: 15px;
  /*line-height: 24px;*/
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  outline-color: none;
  box-sizing: border-box;
  font-weight: bold;
}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*padding-bottom: 200vh;*/
  background: #00050f;
  /*dont use overflow hidden to body*/
}

ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.font-18 {
  font-size: 18px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(233, 69, 96);
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0px 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.flex {
  display: flex;
  gap: 30px;
}

.swiper {
  width: 100% !important;
}

.title {
  font-family: "TorweltenMono";
}

.info-panel-title {
  white-space: normal;
  word-wrap: break-word;
}

.font-12 {
  font-size: 12px;
}

/* .font-14 {
  font-size: 14px;
  line-height: 17px;
} */

.swiper-slide {
  overflow: hidden;
}

.swiper-img {
  transform: scale(1.5);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.swiper-slide-active .swiper-img {
  transform: scale(1) !important;
  transition: 15s linear;
}

.default-btn {
  position: relative;
  z-index: 4;
  cursor: pointer;
  display: flex;
}

.default-btn span {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateY(-4px) translateX(-4px);
}

.default-btn path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.default-btn:hover svg path:last-child {
  transform: translateY(4px) translateX(4px);
  opacity: 0.6;
}

.default-btn:hover span {
  transform: translateY(0px) translateX(0px);
}

/* toast */

.Toastify__toast {
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  top: 80px;
  background-color: #121227;
}

.Toastify__toast ::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 100px;
  background-color: #e94560;
  transform: skewY(40deg);
  z-index: -1;
}

.Toastify__toast--error {
  background-color: #e94560;
}

.Toastify__toast--error ::before {
  background-color: #121227;
}

.Toastify__toast--success ::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 100px;
  background-color: #e94560;
  transform: skewY(40deg);
  z-index: -1;
}

.Toastify__toast--success * {
  color: #fff;
}

@media only screen and (max-width: 760px) {
  .font-14 {
    font-size: 23px;
    line-height: 17px;
  }
}

@media only screen and (max-width: 660px) {
  .title {
    font-size: 14px;
  }
}
