.layout {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  position: relative;
  width: 100%;
  height: 90px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  background: rgb(0, 5, 15);
  background: linear-gradient(
    180deg,
    rgba(0, 5, 15, 1) 50%,
    rgba(0, 5, 15, 0) 100%
  );
}

.settingsModal {
  position: fixed;
  font-size: 20px;
  font-family: sans-serif;
  color: #17174e;
  width: 300px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  top: 10%;
  left: calc(50% - 150px);
  transform: scale(0);
  transition: 0.5s;
  z-index: 10000;
}

.playerBtn {
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  transition: 0.3s;
}

.playerBtn span {
  width: 20px;
  height: 20px;
  background-color: #17174e;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 5px;
  transition: 0.3s;
}

/* .rightMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.menuBtn img {
    width: 100%;
    height: 100%;
}

.menuExp {
    width: 70px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 10px;
    padding-top: 20px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 1);
}

.expBtn {
    margin-bottom: 20px;
}

.settings {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .8s;
}

.settings:hover {
    transform: rotate(-90deg);
}

.logout {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .8s;
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #17174e;
}

.logout:hover {
    background-color: rgba(0, 0, 0, .3);
} */
.logo {
  margin-right: 100px;
}
.headerLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  position: relative;
  margin-right: 30px;
}
.headerLink:hover {
  color: #e9e8e8;
}
.headerLink:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -4px;
  z-index: 2;
  height: 1.5px;
  width: calc(100% - 10px);
  background: #e9e8e8;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateX(5px);
  opacity: 0;
}
.headerLink:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  z-index: 1;
  height: 1.5px;
  width: calc(100% - 25px);
  background: #e94560;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateX(-5px);
  opacity: 0;
}
.headerLink:hover:before,
.headerLink:hover:after {
  transform: translateX(0px);
  opacity: 1;
}
.expLink {
  position: absolute;
  background-color: #17174e;
  width: 100%;
  height: 100px;
  top: -20px;
  left: 0;
  z-index: 900;
  transition: 0.5s;
  transform: translateY(100%);
}

.headerLink:hover .expLink {
  transform: translateY(0);
}

.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
}

.line1,
.line2 {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: calc(50% - 2px);
}

.line1 {
  transform: rotate(45deg);
}

.line2 {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 760px) {
  .headerLink {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    padding: 10px;
  }
}

/* @media screen and (orientation: landscape) {
  .layout {
    height: auto;
  }
} */
